<?xml version="1.0" encoding="UTF-8"?>


<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<!--
  * Copyright (c) 2011-2015, BULL SAS, NovaForge Version 3 and above.
  *
  * This file is free software: you may redistribute and/or modify it under
  * the terms of the GNU Affero General Public License as published by the
  * Free Software Foundation, version 3 of the License.
  *
  * This file is distributed in the hope that it will be useful,
  * but WITHOUT ANY WARRANTY; without even the implied warranty
  * of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
  * See the GNU Affero General Public License for more details.
  * You should have received a copy of the GNU Affero General Public License
  * along with this program. If not, see http://www.gnu.org/licenses.
  *
  * Additional permission under GNU AGPL version 3 (AGPL-3.0) section 7.
  *
  * If you modify this Program, or any covered work, by linking or combining
  * it with libraries listed in COPYRIGHT file at the top-level directory of
  * this distribution (or a modified version of that libraries), containing parts
  * covered by the terms of licenses cited in the COPYRIGHT file, the licensors
  * of this Program grant you additional permission to convey the resulting work.
  -->
<web-app>
	<context-param>
		<!-- max size of the upload request -->
		<param-name>maxSize</param-name>
		<param-value>524288000</param-value>
	</context-param>
	<context-param>
		<!-- Useful in development mode to slow down the uploads in fast networks. 
			Put the number of milliseconds to sleep in each block received in the server. 
			false or 0, means don't use slow uploads -->
		<param-name>slowUploads</param-name>
		<param-value>0</param-value>
	</context-param>
	<context-param>
		<param-name>removeSessionFiles</param-name>
		<param-value>true</param-value>
	</context-param>
	<context-param>
		<param-name>removeData</param-name>
		<param-value>true</param-value>
	</context-param>
	<filter>
		<filter-name>CAS Single Sign Out Filter</filter-name>
		<filter-class>org.jasig.cas.client.session.SingleSignOutFilter</filter-class>
	</filter>
	<filter>
		<filter-name>CAS Authentication Filter</filter-name>
		<filter-class>org.jasig.cas.client.authentication.AuthenticationFilter</filter-class>
		<init-param>
			<param-name>casServerLoginUrl</param-name>
			<param-value>https://localhost:8443/cas/login</param-value>
		</init-param>
		<init-param>
			<param-name>serverName</param-name>
			<param-value>http://localhost:8181</param-value>
		</init-param>
	</filter>
	<filter>
		<filter-name>CAS Validation Filter</filter-name>
		<filter-class>org.jasig.cas.client.validation.Cas10TicketValidationFilter</filter-class>
		<init-param>
			<param-name>casServerUrlPrefix</param-name>
			<param-value>https://localhost:8443/cas</param-value>
		</init-param>
		<init-param>
			<param-name>serverName</param-name>
			<param-value>http://localhost:8181</param-value>
		</init-param>
		<init-param>
			<param-name>redirectAfterValidation</param-name>
			<param-value>false</param-value>
		</init-param>
	</filter>
	<filter>
		<filter-name>CAS HttpServletRequest Wrapper Filter</filter-name>
		<filter-class>org.jasig.cas.client.util.HttpServletRequestWrapperFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>CAS Single Sign Out Filter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>CAS Authentication Filter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>CAS Validation Filter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>CAS HttpServletRequest Wrapper Filter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<!-- Servlets -->
	<servlet>
		<servlet-name>deliverymanagementservice</servlet-name>
		<servlet-class>org.novaforge.forge.tools.deliverymanager.ui.server.DeliveryManagementServiceImpl</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>download</servlet-name>
		<servlet-class>org.novaforge.forge.tools.deliverymanager.ui.server.DownloadServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>uploadServlet</servlet-name>
		<!-- This is the default servlet, it puts files in session -->
		<servlet-class>org.novaforge.forge.tools.deliverymanager.ui.server.CustomizedUploadServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>uploadServlet</servlet-name>
		<url-pattern>*.gupld</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>deliverymanagementservice</servlet-name>
		<url-pattern>/deliverymanagement/deliverymanagementservice</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>download</servlet-name>
		<url-pattern>/deliverymanagement/download</url-pattern>
	</servlet-mapping>
	
	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>DeliveryManagement.html</welcome-file>
	</welcome-file-list>

</web-app>