org.osgi.service.http.port=@KARAF_PORT@
javax.servlet.context.tempdir=${karaf.data}/pax-web-jsp
org.ops4j.pax.web.config.file=${karaf.base}/etc/jetty.xml

#The number of minutes after which an inactive session will timeout.
org.ops4j.pax.web.session.timeout=119